<header>Header
<img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Udyr_0.jpg">
</header>
<footer>Información del autor</footer>
<h1>El caminar entre voces</h1>
<p>Michael Luo</p>
<p>----------------------------------------------------------</p>
<p>CAPÍTULO FINAL:</p>


<p>Tras haber llegado al final del camino, Udyr se encontró con que, de repente una criatura enorme del vacío surgió de la nada.</p>
<p>Dicha criatura poseía gran cantidad de extremidades y era de un tamaño colosal, poseyendo grandes pinzas con las que despedazar a sus desdichados objetivos.</p>

